---
import { client } from '../../tina/__generated__/client';
import { MyComponent } from '../components/react';
import Layout from '../layouts/layout.astro';
const response = await client.queries.post({ relativePath: 'hello-world.md' });
---

<Layout title=''>
	<main>
		<MyComponent client:tina {...response} />
	</main>
</Layout>
